body {
  background-color: #ccc5b9;
  #container {
    header {
      background-color: #252422;
      #logo {
        color: #eb5e28;
      }
    }
    nav {
      background-color: #fca311;
      color: #000000;
      #search{
        background-color: #fca311;
        color: #000000;
      }
      #search_button{
        background-color: #eb5e28;
      }
    }
    main {
      background-color: none;
      article{
        background-color: #ffffff;
        button{
          background-color: #eb5e28;
          color: #000000;
        }
      }
    }
    footer {
      background-color: #ccc5b9;
      color: #403d39;
    }
  }
}
