@import "colors";
@import "fonts";

$maxS: 1200px;

body {
  margin: 0px;
  padding: 0px;
  #container {
    margin: 10px auto;
    max-width: $maxS;
    display: flex;
    flex-direction: column;
    header {
      margin: 0px;
      padding: 15px;
    }
    nav {
      margin: 0px;
      padding: 15px;
      form{
        margin: 0px;
        padding: 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        #search{
          width: 180px;
          height: 30px;
          border: 2px solid #faebd7;
          border-radius: 2%;
        }
        #search_button{
          width: 180px;
          height: 30px;
          border: 2px solid #faebd7;
          border-radius: 2%;
          cursor: pointer;
        }
    }}
    main {
      margin: 0px;
      padding: 25px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      section {
        margin: 0px;
        padding: 20px;
        width: 300px;
      }
      article {
        margin: 20px;
        padding: 5px;
        width: 200px;
        button{
          margin: 0px;
          padding: 5px;
          width: 150px;
          border: 1px solid #000;
          border-radius: 6%;
          cursor: pointer;
        }
      }
    }
    footer {
      margin: 0px;
      padding: 15px;
    }
  }
}